body, html {
    margin: 0;
    padding: 0;
}

.auth_Div_withModal{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.auth_Div {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.auth_LeftDiv {
    height: 72vh;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 5%;
}

.X_Logo_svg{
    width: 350px;
    height: 300px;
}

.auth_RightDiv {
    height: 72vh;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch
}

.auth_h14 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 22vh;
}

.auth_h1{
    font-weight: bold;
    font-size: 4.0rem;
}

.auth_h4{
    font-weight: bold;
    font-size: 2rem;
}

.authButtonDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
}

.authButton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    padding: 10px 20px; /* 패딩 값은 이미지의 크기에 따라 조절해야 할 수 있습니다. */
    border-radius: 25px; /* 둥근 모서리를 위해 */
    border-width: thin;
    background-color: white; /* 버튼의 배경색 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
    font-size: 16px; /* 글씨 크기 */
    font-weight: 550; /* 글씨 두께 */
    color: black; /* 글씨 색 */
    cursor: pointer; /* 마우스 포인터 표시 */
    text-decoration: none; /* 링크일 경우 밑줄 없애기 */
}

.line {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.01);
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0px;
}

.line::before {
    content: "";
    width: 120px;
    margin: 0px 5px;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}

.line::after {
    content: "";
    width: 120px;
    margin: 0px 5px;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}


.authButton:hover {
    background-color: #E6E6E6; /* 호버 시 색상 변경 */
}

.authCreateAccountButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    padding: 10px 20px; /* 패딩 값은 이미지의 크기에 따라 조절해야 할 수 있습니다. */
    border-radius: 25px; /* 둥근 모서리를 위해 */
    border: none;
    background-color: #4A99E9; /* 버튼의 배경색 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
    font-size: 16px; /* 글씨 크기 */
    font-weight: 550; /* 글씨 두께 */
    color: white; /* 글씨 색 */
    cursor: pointer; /* 마우스 포인터 표시 */
    text-decoration: none; /* 링크일 경우 밑줄 없애기 */
}

.authCreateAccountButton:hover {
    background-color: #198CD8; /* 호버 시 색상 변경 */
}

.authLoginDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
}

.authLoginButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    padding: 10px 20px; /* 패딩 값은 이미지의 크기에 따라 조절해야 할 수 있습니다. */
    border-radius: 25px; /* 둥근 모서리를 위해 */
    border-width: thin;
    background-color: white; /* 버튼의 배경색 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
    font-size: 16px; /* 글씨 크기 */
    font-weight: 550; /* 글씨 두께 */
    color: #4A99E9; /* 글씨 색 */
    cursor: pointer; /* 마우스 포인터 표시 */
    text-decoration: none; /* 링크일 경우 밑줄 없애기 */
}

.authLoginButton:hover {
    background-color: #EBF5FE;
}
/* 화면 너비가 1000px 이하일 때 적용될 스타일 */
@media (max-width: 1000px) {
    .auth_Div_withModal{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .auth_Div {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .auth_LeftDiv {
        width: 80%;
        height: 10vh;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .auth_RightDiv {
        width: 80%;
        height: auto;
        margin-left: 0;
        min-height: 700px;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
    }

    .auth_h14 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        min-height: 250px;
        height: 22vh;
    }

    .authButtonDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-top: 5%;
        min-height: 250px;
    }

    .authButton{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 40px;
        padding: 10px 20px; /* 패딩 값은 이미지의 크기에 따라 조절해야 할 수 있습니다. */
        border-radius: 25px; /* 둥근 모서리를 위해 */
        border-width: thin;
        background-color: white; /* 버튼의 배경색 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
        font-size: 16px; /* 글씨 크기 */
        font-weight: 550; /* 글씨 두께 */
        color: black; /* 글씨 색 */
        cursor: pointer; /* 마우스 포인터 표시 */
        text-decoration: none; /* 링크일 경우 밑줄 없애기 */
    }

    .authCreateAccountButton {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 40px;
        padding: 10px 20px; /* 패딩 값은 이미지의 크기에 따라 조절해야 할 수 있습니다. */
        border-radius: 25px; /* 둥근 모서리를 위해 */
        border: none;
        background-color: #4A99E9; /* 버튼의 배경색 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
        font-size: 16px; /* 글씨 크기 */
        font-weight: 550; /* 글씨 두께 */
        color: white; /* 글씨 색 */
        cursor: pointer; /* 마우스 포인터 표시 */
        text-decoration: none; /* 링크일 경우 밑줄 없애기 */
    }

    .authLoginButton {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 40px;
        padding: 10px 20px; /* 패딩 값은 이미지의 크기에 따라 조절해야 할 수 있습니다. */
        border-radius: 25px; /* 둥근 모서리를 위해 */
        border-width: thin;
        background-color: white; /* 버튼의 배경색 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
        font-size: 16px; /* 글씨 크기 */
        font-weight: 550; /* 글씨 두께 */
        color: #4A99E9; /* 글씨 색 */
        cursor: pointer; /* 마우스 포인터 표시 */
        text-decoration: none; /* 링크일 경우 밑줄 없애기 */
    }

    .authLoginDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 5%;
        min-height: 50px;
    }

    .X_Logo_svg{
        width: 40px;
        height: 35px;
    }
}

@media (max-width: 480px){
    .auth_Div_withModal{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
    }

    .auth_Div {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .auth_LeftDiv {
        width: 80%;
        height: 10vh;
        margin-top: 10%;
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .auth_RightDiv {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .auth_h14 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        margin-top: 5%;
        height: 22vh;
        min-height: 170px;
    }

    .auth_h1{
        font-weight: bold;
        font-size: 2.4rem;
    }

    .auth_h4{
        font-weight: bold;
        font-size: 1.4rem;
    }

    .authButtonDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 40%;
        margin-top: 5%;
        min-height: 220px;
    }

    .authLoginDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 10vh;
        margin-top: 15%;
        min-height: 80px;
    }
}
