.login-modal{
    width: 590px;
    height: 650px;
}

.LoginModal{
    width: 590px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.LoginLogoDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
}

.LoginCloseButtonDiv{
    margin-left: 4%;
    margin-right: 37%;
    margin-top: -17%;
    height: 100%;
}

.LoginCloseButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 90%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginCloseButton:hover {
    background-color: #E7E7E8;
}

.LoginCloseImg{
    width: 20px;
    height: 20px;

}

.LoginXLogo{
    width: 30px;
    height: 25px;
    margin-top: -17%;
}

.Loginh1Div{
    width: 100%;
    margin-top: -20%;
}

.Loginh1{
    margin-left: 25%;
    font-weight: bold;
    font-size: 2rem;
}

.LoginButtonDiv{
    width: 100%;
    height: auto;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -20%;
}

.LoginInput{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 20px;
    padding: 10px 20px; /* 패딩 값은 이미지의 크기에 따라 조절해야 할 수 있습니다. */
    border-width: thin;
    background-color: white; /* 버튼의 배경색 */
    font-size: 16px; /* 글씨 크기 */
    color: black; /* 글씨 색 */
    cursor: pointer; /* 마우스 포인터 표시 */
    text-decoration: none; /* 링크일 경우 밑줄 없애기 */
}

.LoginNextButton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    padding: 10px 20px; /* 패딩 값은 이미지의 크기에 따라 조절해야 할 수 있습니다. */
    border-radius: 25px; /* 둥근 모서리를 위해 */
    border-width: thin;
    background-color: black; /* 버튼의 배경색 */
    font-size: 16px; /* 글씨 크기 */
    font-weight: 550; /* 글씨 두께 */
    color: white; /* 글씨 색 */
    cursor: pointer; /* 마우스 포인터 표시 */
    text-decoration: none; /* 링크일 경우 밑줄 없애기 */
}

.LoginPasswordResetButton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    padding: 10px 20px; /* 패딩 값은 이미지의 크기에 따라 조절해야 할 수 있습니다. */
    border-radius: 25px; /* 둥근 모서리를 위해 */
    border-width: thin;
    background-color: white; /* 버튼의 배경색 */
    font-size: 16px; /* 글씨 크기 */
    font-weight: 550; /* 글씨 두께 */
    color: black; /* 글씨 색 */
    cursor: pointer; /* 마우스 포인터 표시 */
    text-decoration: none; /* 링크일 경우 밑줄 없애기 */
}

.Loginh4Div{
    width: 50%;
    margin-top: -10%;
    height: auto;
}

a {
    text-decoration: none;
}

.LoginSignupLink{
    margin-left: 5%;
    text-decoration: none; /* 밑줄 제거 */
    color: #4A99E9;           /* 글씨색을 파란색으로 */
    cursor: pointer;
}

.LoginSignupLink:hover, .LoginSignupLink:active {
    color: #4A99E9;
}


@media (max-width: 700px) {
    .login-modal{
        width: 100vw;
        height: 100vh;
    }

    .LoginModal{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .LoginCloseButtonDiv{
        margin-left: 4%;
        margin-right: 37%;
        margin-top: 0%;
        height: 100%;
    }

    .LoginXLogo{
        width: 30px;
        height: 25px;
        margin-top: 0%;
    }

    .LoginLogoDiv{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        margin-top: 2%;
    }

    .LoginCloseButtonDiv{
        width: 7%;
        height: 100%;
    }


    .Loginh1Div{
        margin-top: -10%;
        margin-right: 30%;
        width: 100%;
        display: flex;
        justify-content: center
    }

    .Loginh4Div{
        width: 100%;
        margin-bottom: 10%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .LoginSignupLink{
        margin-left: 5%;
        min-width: 70px;
        text-decoration: none; /* 밑줄 제거 */
        color: #4A99E9;           /* 글씨색을 파란색으로 */
        cursor: pointer;
    }
}
