.modalDiv {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(153, 153, 153, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 590px;
    height: 650px;
    background-color: white;
    border-radius: 20px;
}

@media (max-width: 700px) {
    .modal {
        width: 700px;
        height: 100vh;
        border-radius: 0px;
    }
}
