.SignupSecondPageDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.SignupPrevButtonDiv{
    margin-left: 2%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.SignupPrevButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 80%;
    height: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SignupPrevButton:hover {
    background-color: #E7E7E8;
}

.SignupPrevImg {
    width: 20px;
    height: 20px;
}

.SignupPrevh3Div {
    margin-left: 5%;
}

.SignupSecondPageMiddleDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignupSecondPageMiddleDiv h1{
    font-size: 2rem;
    width: 80%;
    margin-left: 5%;
}

.SignupSecondPageMiddleDiv h3{
    font-size: 1.3rem;
    width: 80%;
    margin-left: 5%;
}

.SignupSecondPageMiddleInsideDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.SignupSecondPageMiddleh4Div{
    margin-left: 3%;
    width: 90%;
}

.SignupSecondPageMiddleh4Div span {
    font-size: 0.9rem;
}

.SignupSecondPageMiddleInputDiv{
    margin-left: 3%;
}


/* 새로운 체크박스 모양 */
.SignupCheckBox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #1D9BF0;
    border-radius: 4px;
    position: relative;
}


/* 체크된 상태 스타일링 */
.SignupCheckBox input:checked {
    display: block;
}

/* 체크되지 않은 상태 스타일링 */
.SignupCheckBox input:not(:checked){
    display: none;
}

.SignupSecondPageMiddleDiv span{
    margin-top: 7%;
    font-size: 0.9rem;
    width: 75%;
}

.SignupSecondPageMiddleDiv span span{
    color: #1D9BF0;
}

.SignupsECONDPageButtonDiv {
    margin-top: 5%;
    margin-left: 3%;
    width: 100%;
}

.SignupsECONDPageButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px; /* 둥근 모서리를 위해 */
    border: none;
    background-color: black; /* 버튼의 배경색 */
    font-size: 16px; /* 글씨 크기 */
    font-weight: 550; /* 글씨 두께 */
    color: white; /* 글씨 색 */
    cursor: pointer; /* 마우스 포인터 표시 */
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 50px;
}


@media (max-width: 700px) {

}
