.HomeDiv{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.HomeDivNavOpen{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: gray;
}

.HomeRightDiv{
    width: 55vw;
    margin-right: 20vw;
    height: 100vh;
}

.HomeImgDivForMobile{
    display: none;
}

@media (max-width: 1280px){
    .HomeRightDiv{
        width: 60vw;
        margin-left: 5vw;
        margin-right: 20vw;
        height: 100vh;
    }
}

@media (max-width: 500px){
    .HomeDivNavOpen{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: gray;
    }
    .HomeDiv{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .HomeImgDivForMobile{
        display: flex;
        height: 10vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .HomeRightDiv{
        width: 100vw;
        margin-left: 0vw;
        margin-right: 0vw;
        height: 90vh;
    }

    .HomeOpenNavImg{
        border-radius: 50px;
        width: 40px;
        height: 40px;
    }

    .HomeX_logo{
        width: 35px;
        height: 35px;
    }

    .HomeOpenSetting{
        border-radius: 50px;
        width: 17px;
        height: 17px;
        margin-top: 10px;
        margin-right: 20px;
    }
}
