.HomeDiv{
    width: 100vw;
    height: 100vh;
    margin-right: 0px;
    display: flex;

}

.HomeDivNavOpen{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: gray;
}

.HomeMiddleDiv{
    margin-left: 28vw; /* nav의 크기 */
    width: 39vw;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.HomeMiddleSwitchFollowDiv{
    display: flex;
    flex-direction: row;
}

.HomeMiddleSwitchFollowDiv div{
    width: 50%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.HomeMiddleSwitchFollowDiv :hover{
    background-color: #E7E7E8;
    cursor: pointer;
}

.notbold{
    font-weight: normal;
}

.bold{
    font-weight: bold;
}

.HomeImgDivForMobile{
    display: none;
}

@media (max-width: 1280px){
    .HomeMiddleDiv{
        margin-left: 16vw; /* nav의 크기 */
        width: 46vw;
        height: 100vh;

    }
}

@media (max-width: 1000px){
    .HomeMiddleDiv{
        width: 600px;
        margin-left: 19vw;
        height: 100vh;
    }
}


@media (max-width: 500px){
    .HomeDivNavOpen{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: gray;
    }
    .HomeDiv{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .HomeImgDivForMobile{
        display: flex;
        height: 5vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .HomeRightDiv{
        width: 100vw;
        margin-left: 0vw;
        margin-right: 0vw;
        height: 90vh;
    }

    .HomeMiddleDiv{
        margin-left: 0;
        width: 100vw;
        height: 95vh;
    }

    .HomeOpenNavImg{
        margin-left: 2%;
        border-radius: 50px;
        width: 40px;
        height: 40px;
    }

    .HomeX_logo{
        width: 25px;
        height: 25px;
    }

    .HomeOpenSetting{
        border-radius: 50px;
        width: 20px;
        height: 20px;
        margin-top: 10px;
        margin-right: 20px;
    }
}
