.modalGrayDiv{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(153, 153, 153, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modalDiv {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(153, 153, 153, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.SignUpModal, .LoginModal {
    width: 590px;
    height: 650px;
    background-color: white;
    border-radius: 20px;
}

.writeTweetModal {
    width: 590px;
    height: 210px;
    margin-bottom: 25%;
    background-color: white;
    border-radius: 20px;
}

.writeMentionModal{
    width: 590px;
    height: auto;
    margin-bottom: 10%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.errorMessageDiv {
    width: 400px;
    height: 30px;
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%); /* X축 기준 중앙 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1D9BF0;
    border-radius: 5px;
}


@media (max-width: 700px) {
    .modalDiv {
        width: 100vw;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .SignUpModal, .LoginModal {
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }

    .writeTweetModal {
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }

    .writeMentionModal{
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }
}

@media (max-width: 480px) {
    .modalDiv {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index: 100;
    }

    .SignUpModal, .LoginModal {
        width: 100vw;
        height: 100%;
        border-radius: 0;
    }

    .errorMessageDiv{
        font-size: 0.8rem;
        width: 100%;
        height: 40px;
        border-radius: 0px;
    }
}
