.NavDiv{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    width: 15vw;
    height: 100vh;
    justify-content: space-between;
}

.NavLinkDiv {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.NavUserObjDiv{
    display: flex;
    flex-direction: row;
    width: 180px;
    height: 10vh;
    border-radius: 40px;
}

.NavUserObjDiv:hover {
    background-color:  #E7E7E8;
}

.NavUserObjInfo{
    display: flex;
    flex-direction: column;
}

.NavpfpDiv{
    margin-left: 10%;
}

.Navpfp{
    border-radius: 50px;
    width:50px;
    height:50px;
}

.NavUserObjInfo{
    margin-left: 10%;
}

.NavUserObjInfoBold {
    font-weight: bolder;
}

@media (max-width: 1280px){
    .NavDiv{
        margin-left: 10vw;
        width: 5vw;
        min-width: 50px;
    }

    .NavLinkDiv{
        width: 100%;
    }

    .NavUserObjDiv{
        display: flex;
        flex-direction: row;
        width: 5vw;
        height: 10vh;
        border-radius: 40px;
    }

    .NavUserObjInfo span{
        display: none;
    }

}

@media (max-width: 500px){
    .NavDiv{
        margin-left: 0vw;
        width: 65vw;
        position: absolute;
        z-index: 100;
        background: white;
    }

    .NavLinkDiv {
        height: 100vh;
    }

    .NavpfpDiv{
        margin-left: 5%;
    }

    .NavUserObjDiv{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 15%;
        border-radius: 40px;
    }

    .NavUserObjInfo{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 5%;
        margin-left: 5%;
    }


    .NavUserObjInfo span{
        display: inline;
    }
}
