.NavDiv{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    width: 15vw;
    height: 100vh;
    justify-content: space-between;
}

.NavLinkDiv {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.NavUserObjDiv{
    display: flex;
    flex-direction: row;
    width: 180px;
    height: 10vh;
    border-radius: 40px; /* 둥근 모서리를 위해 */
}

.NavUserObjDiv:hover {
    background-color:  #E7E7E8; /* 호버 시 색상 변경 */
}

.NavUserObjInfo{
    display: flex;
    flex-direction: column;
}


.NavpfpDiv{
    margin-left: 10%;
}

.Navpfp{
    border-radius: 50px;
    width:50px;
    height:50px;
}

.NavUserObjInfo{
    margin-left: 10%;
}


@media (max-width: 1280px){
    .NavDiv{
        margin-left: 10vw;
        width: 5vw;
        min-width: 50px;
    }

    .NavLinkDiv{
        width: 100%;
    }

    .NavUserObjDiv{
        display: flex;
        flex-direction: row;
        width: 5vw;
        height: 10vh;
        border-radius: 40px; /* 둥근 모서리를 위해 */
    }

    .NavUserObjInfo span{
        display: none;
    }

}

@media (max-width: 500px){}
